@import url(https://fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,700);
h1, h2, h3, h4, h5, h6 {
  color: #FFBA00;
  font-family: "Bitter", serif;
  font-weight: 700;
}

h2 {
  margin: 20px 0;
}

p {
  font-size: 1.4rem;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #0076A3;
  font-size: 1.4rem;
  color: #000000;
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

main#main-content {
  margin-bottom: 20px;
}

footer {
  background-color: #005170;
}

.container {
  margin: 0 auto;
  width: 95%;
  *zoom: 1;
}

.container:before, .container:after {
  content: ' ';
  display: table;
}

.container:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
}

.row {
  *zoom: 1;
}

.row:before, .row:after {
  content: ' ';
  display: table;
}

.row:after {
  clear: both;
}

@media only screen and (min-width: 768px) {
  .row {
    margin: 0 -1em;
  }
}

[class*='column-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 1em;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .medium-column-1 {
    width: 8.33333%;
  }
  .medium-column-2 {
    width: 16.66667%;
  }
  .medium-column-3 {
    width: 25%;
  }
  .medium-column-4 {
    width: 33.33333%;
  }
  .medium-column-5 {
    width: 41.66667%;
  }
  .medium-column-6 {
    width: 50%;
  }
  .medium-column-7 {
    width: 58.33333%;
  }
  .medium-column-8 {
    width: 66.66667%;
  }
  .medium-column-9 {
    width: 75%;
  }
  .medium-column-10 {
    width: 83.33333%;
  }
  .medium-column-11 {
    width: 91.66667%;
  }
  .medium-column-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .large-column-1 {
    width: 8.33333%;
  }
  .large-column-2 {
    width: 16.66667%;
  }
  .large-column-3 {
    width: 25%;
  }
  .large-column-4 {
    width: 33.33333%;
  }
  .large-column-5 {
    width: 41.66667%;
  }
  .large-column-6 {
    width: 50%;
  }
  .large-column-7 {
    width: 58.33333%;
  }
  .large-column-8 {
    width: 66.66667%;
  }
  .large-column-9 {
    width: 75%;
  }
  .large-column-10 {
    width: 83.33333%;
  }
  .large-column-11 {
    width: 91.66667%;
  }
  .large-column-12 {
    width: 100%;
  }
}

.navigation, .footer-navigation {
  *zoom: 1;
  padding: 10px;
  background-color: #005170;
}

.navigation:before, .footer-navigation:before, .navigation:after, .footer-navigation:after {
  content: ' ';
  display: table;
}

.navigation:after, .footer-navigation:after {
  clear: both;
}

.navigation h2, .footer-navigation h2 {
  text-align: left;
  margin: 0;
}

.navigation h2.site-name, .footer-navigation h2.site-name {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navigation h2.site-name, .footer-navigation h2.site-name {
    display: inline-block;
  }
}

.navigation h2.nav-title, .footer-navigation h2.nav-title {
  display: block;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .navigation h2.nav-title, .footer-navigation h2.nav-title {
    display: none;
  }
}

.navigation nav, .footer-navigation nav {
  display: inline;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .navigation nav, .footer-navigation nav {
    float: right;
  }
}

.navigation nav a, .footer-navigation nav a {
  color: #FFFFFF;
  font-size: 1.4rem;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.navigation nav a:hover, .footer-navigation nav a:hover {
  color: #FFBA00;
}

@media only screen and (min-width: 768px) {
  .navigation nav a, .footer-navigation nav a {
    display: inline;
    text-align: left;
  }
}

@media only screen and (min-width: 1024px) {
  .navigation nav a, .footer-navigation nav a {
    margin-right: 20px;
  }
  .navigation nav a:last-child, .footer-navigation nav a:last-child {
    margin-right: 0;
  }
}

.footer-navigation .menu {
  float: left;
}

.footer-navigation .menu a {
  text-transform: uppercase;
  font-size: 1rem;
}

.background-image {
  display: table;
  width: 100%;
  position: relative;
}

.background-image .content-bg-image {
  display: table-cell;
  vertical-align: bottom;
  padding: 0 20px 20px 20px;
  position: relative;
}

.background-image .content-bg-image h1 {
  font-size: 40px;
}

.background-image .content-bg-image p {
  color: #FFFFFF;
  font-weight: 700;
}

.london {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)), url("../img/bg/bg01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 600px;
}

.subway {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.6)), url("../img/bg/bg03.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 350px;
}

.card {
  margin-bottom: 30px;
}

@media only screen and (min-width: 768px) {
  .card {
    width: 33.3%;
    float: left;
    padding: 0 20px;
  }
}

.card .card-content {
  background-color: #FFFFFF;
  padding: 20px;
  margin-top: -6px;
}

.card .card-content h3 {
  margin-bottom: 20px;
  font-size: 32px;
}

.card .card-content p {
  font-size: 1rem;
}

.card:after {
  *zoom: 1;
}

.card:after:before, .card:after:after {
  content: ' ';
  display: table;
}

.card:after:after {
  clear: both;
}

.btn {
  border-radius: 5px;
  display: block;
  background-color: #FFBA00;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  transition: all .3s ease;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .btn {
    display: inline-block;
  }
}

.btn:hover {
  background-color: #997000;
}

.btn-service {
  border-radius: 5px;
  display: block;
  background-color: #bf0501;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  transition: all .3s ease;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .btn-service {
    display: inline-block;
  }
}

.btn-service:hover {
  background-color: #f20701;
}

.gallery {
  *zoom: 1;
}

.gallery:before, .gallery:after {
  content: ' ';
  display: table;
}

.gallery:after {
  clear: both;
}

.gallery li.image-container {
  float: left;
  list-style: none;
  width: 23.5%;
}

.gallery li.image-container:nth-child(n) {
  margin-right: 2%;
  margin-bottom: 2%;
}

.gallery li.image-container:nth-child(4n + 1) {
  margin-right: 0;
  margin-bottom: 0;
}

.gallery li.image-container img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}

table {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
  border-collapse: collapse;
}

table > caption {
  text-align: left;
  font-family: "Bitter", serif;
  font-size: 36px;
  font-weight: 700;
  padding: 5px;
  color: #FFBA00;
  margin-bottom: 20px;
}

table thead tr th {
  background-color: #002c3d;
  color: #FFFFFF;
  font-size: 1.3rem;
}

table > thead > tr,
table > tbody > tr {
  color: #FFFFFF;
  background-color: #005170;
}

table > thead > tr:nth-child(odd),
table > tbody > tr:nth-child(odd) {
  background-color: #0076A3;
}

table > thead > tr:hover,
table > tbody > tr:hover {
  background-color: #e6a700;
}

table > thead > tr th,
table > thead > tr td,
table > tbody > tr th,
table > tbody > tr td {
  padding: 10px;
  border-bottom: 1px dotted #005170;
}

div.services h2 {
  font-size: 36px;
}

.services-list {
  list-style: none;
  padding: 0;
}

.services-list li {
  text-align: center;
}

.services-list li h3 {
  margin-bottom: 20px;
  font-size: 32px;
}

.services-list li p {
  color: #FFFFFF;
  font-size: 1rem;
}

footer.site-footer {
  padding-top: 10px;
  margin-top: 30px;
  color: #FFFFFF;
}

footer.site-footer h2 {
  margin: 0;
}

footer.site-footer p.site-info {
  text-align: center;
  background-color: #FFBA00;
  color: #005170;
  padding: 10px 0;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
